.listen {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-size: var(--ygm-font-size-m);
  display: flex;
  flex-direction: column;
  .background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .6;
    filter: blur(20px);
    img{
      width: 100%;
      height: 100%;
    }
  }
 .middle{
    position: fixed;
    width: 100%;
    top: 80px;
    bottom: 170px;
    white-space: nowrap;
    font-size: 0;
    .middle-l {
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 80%;
      .cd-wrapper{
        position: absolute;
        left: 10%;
        top: 0;
        width: 80%;
        box-sizing: border-box;
        height: 100%;
        .cd{
          width: 100%;
          height: 100%;
          border-radius: 50%;
          img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: 50%;
            border: 10px solid hsla(0,0%,100%,.1);
          }

        }
        .playing{
          animation: rotate 20s linear infinite;
        } 
      }
    }

  }
 .bottom{
    position: absolute;
    bottom: 50px;
    width: 100%;
    .operators{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 60px;
      .icon{
        width: 40px;
        height: 40px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
 }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
      transform: rotate(1turn);
  }
}